<h1>Bonjour! Merci de confirmer votre adresse e-mail!</h1>

<p>
    Confirmez votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    A bientôt ! Symfony5 Starter
</p>
